body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  overflow-x: hidden !important;
}

img {
  max-width: 100%; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, center, dl, dt, dd, ol, ul, li, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

a img {
  border: 0;
  position: relative;
  margin-right: 1%;
  margin-bottom: -1%;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body, html {
  width: 100%;
  font-size: 100%;
  font-family: sans-serif; }

h1, h2, h3, h4, h5{
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
}


.header{
  background: url("../images/homepage-banner.jpg") center 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__logo{

  }

  &__navbar{
    margin-left: 35%;

    &--submit{
      float: left;
      margin-left: 30px;
      margin-top: -16px;
    }

    &--search{
      float: left;
      margin-left: 20px;
      margin-top: -20px;
    }
  }

  @media (max-width:1150px) {
    padding-top: 0.62rem!important;
    padding-bottom: 0.62rem!important;
  }
}


h1{
  font-size: 50px;

  @media (max-width:870px) {
    margin: 0 1.25rem;
  }

  @media (max-width:815px) {
    font-size: 1.8rem;
  }
}

h2{
  font-size: 61px;

  @media (max-width:870px) {
    margin: 0 1.25rem
  }

  @media (max-width:815px) {
    font-size: 1.6rem;
  }
}

h3{
  font-size: 49px;

  @media (max-width:870px) {
    margin: 0 1.25rem;
  }

  @media (max-width:815px) {
    font-size: 1.2rem;
  }
}

h4{
  font-size: 1.43rem;
  font-weight: 700;

  @media (max-width:870px) {
    margin: 0 1.25rem;
  }

  @media (max-width:815px) {
    font-size: 1.2rem;
  }
}

h5{
  font-size: 1.12rem;
  font-weight: 600;

  @media (max-width:870px) {
    margin: 0 1.25rem;
  }

  @media (max-width:815px) {
    font-size: 0.9rem;
  }
}


p{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  font-size: 1.125rem;

  @media (max-width:650px) {
    font-size: 1rem;
  }

  @media (max-width:930px) {
    margin: 0 1.25rem;
  }
}

.font-400{
  font-weight: 400;
}
.font-500{
  font-weight: 500;
}
.font-700{
  font-weight: 700;
}
.font-900{
  font-weight: 900;
}

.font-40{
  font-size: 40px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-italic {
  font-style: italic;
}

.text-underline{
  text-decoration: underline;
}

.text-white{
   color: #fff;
 }

.text-orange{
  color: #faa53f;
}

.margin-center{
  @media (max-width:1150px) {
    margin: 0 auto;
  }
}

.margin-20{
  margin-left: 20%;
}

.top-180{
  margin-top: 180px;
}

.top-100{
  padding-top: 100px;
}

.top-80{
  padding-top: 80px;
}

.top-70{
  padding-top: 70px;
}

.top-60{
   padding-top: 60px;
 }

.top-55{
  padding-top: 55px;
}

.top-45{
  padding-top: 45px;
}

.top-40{
  padding-top: 40px;
}

.top-50{
  padding-top: 50px;
}

.top-30{
  padding-top: 30px;
}

.top-20{
  padding-top: 20px;
}


.top-35{
  padding-top: 35%;
}

.top-25{
  padding-top: 25px;
}

.top49-per{
  padding-top: 49%;
}

.top46-per{
  padding-top: 46%;
}

.top40-per{
  padding-top: 40%;
}

.top34-per{
  padding-top: 34%
}

.top31-per{
  padding-top: 31%
}

.top25-per{
  padding-top: 25%
}

.top20-per{
  padding-top: 20%
}

.top16-per{
  padding-top: 16%;
}

.bottom62-per{
  padding-bottom: 62%;
}

.bottom10-per{
  padding-bottom: 10%;
}

.top-15{
  padding-top: 15px;
}
.top-10{
  margin-top: -14px;
}

.top-4{
  padding-top: 4px;
}

.mtop-36{
  margin-top: 36px;
}

.mtop20{
  margin-top: -20px;
}

.mtop-20{
  margin-top: 20px;
}

.mtop-6{
  margin-top: -6px;
}


.bottom-90{
  padding-bottom: 90px;
}

.bottom-38{
  padding-bottom: 38px;
}

.bottom-30{
  padding-bottom: 30px;
}

.bottom-20{
  padding-bottom: 20px;
}

.bottom-15{
  padding-bottom: 10px;
}

.bottom-10{
  padding-bottom: 10px;
}

.bottom-25{
  padding-bottom: 25px;
}

.no-bottom{
  margin-bottom: 0;
  padding-bottom: 0!important;
}

.right-10{
  padding-right: 10px;
}

.right-20{
  padding-right: 20px;
}

.right-24{
  padding-right: 24px;
}

.left-200{
  margin-left: 200px;
}
.left-90{
  margin-left: 90px;
}

.left-20{
  margin-left: 20px;
}

.height-342{
  height: 342px;
}

.height-690{
  height: 690px;
}

.float{
  float: left;

  &--mobile{
    @media (max-width:815px) {
      float: none;
    }
  }
}

.right{
  float: right;
}

.letter-spacing{
  letter-spacing: 2px;
}

body {
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #333;
}

p, li, a {
  font-family: 'Maven Pro', sans-serif;
}

.decoration{
  text-decoration: none;
  text-shadow: 2px 1px 0px #000000;
  }

.decoration-dark{
  text-decoration: none;
  text-shadow: 3px 1px 0px #000000;
}


.decoration-stem{
  text-decoration: none;
  text-shadow: 4px 2px 0 #000;
}

.decoration-none{
  text-decoration: none;
}


.flex-container {
  display: flex;
  justify-content: space-between;
  cursor: pointer;




  @media (max-width:1150px) {
    display:block;
    margin: 0 1.87rem;
  }

  &--header{
    display: flex!important;
    margin: 0;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

}

.row{
  padding-bottom: 1.875rem;

  &__75{
    width: 75%;

    @media (max-width:1150px) {
      width: 90%;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 5px;
    }

    @media (max-width:815px) {
      width: auto;
    }

    &--header{

      @media (max-width:1150px) {
        width: 30%;
      }

    }

    &--mobile{

      @media (max-width:1150px) {
        width: 50%;
        padding-bottom: 42px;
      }

      @media (max-width:1015px) {
        width: 70%;

      }
    }
  }

  &__55{
    width: 55%;
  }

  &__50{
  width: 50%;
  }

  &__45{
    width: 45%;
  }

  &__33{
    width: 33%;
  }

  &__25{
    width: 25%;

    @media (max-width:1150px) {
      width: 80%;
      margin: 0 auto;
      padding-top: 2.18rem;
      padding-bottom: 2.18rem;
      margin-bottom: 0.62rem;
    }

    &--mobile{
      @media (max-width:1150px) {
        padding-top: 0rem;
        margin-bottom: 3.12rem;
      }
    }
  }
}

.wrapper{
  max-width: 1365px;
  width: auto;
  margin: 0 auto;
}

.text-container2{
  max-width: 1230px;
  width: auto;
  margin: 0 auto;
}

.text-container{
  max-width: 1060px;
  width: auto;
  margin: 0 auto;
}




.checklist{

  &__item{
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    padding-left: 2.26rem;
    margin-bottom: 1.25rem;
    font-weight: 500;
    list-style: none;
  }
}

.stem-logo{
  padding-left: 30px;
  padding-top: 20px;
}


.banner{

  &__heading{
    color: #fff;
    margin: 140px 10px 205px 10px;
  }

  &__down-arrow{
    margin: 0 auto;
    width: 70px;
    padding-bottom: 10px;
  }
}




.txt:hover {
  padding-bottom: 5px;
  border-bottom: 4px solid #faa53f;
}

.orange-ic{
  background-color: #faa53f;
  border-radius: 25px;
  padding: 13px;
}

.orange-bg{
  background-color: #faa53f;
  margin-bottom: 100px;
  margin-top: 130px;
}

.video-design{
  padding-right: 27px;
  padding-top: 60px;
}
.social-media{
  float: right;
  margin-top: -16%;
  margin-right: 3%;

  &__icons{
    width: 85%;
  }
}


.hr{
   border-bottom: 1px solid #fff;
   width: 23%;
   margin-left: -15px;
 }

.hr-2 {
  border-bottom: 2px solid #fff;
  width: 90%;
}

.hr-3 {
  border-bottom: 2px solid #233b67;
  width: 27%;
  margin: 0 auto;
}

.hr-4 {
  margin-top: 26px;
  border-bottom: 2px solid #fff;
  width: 3%;
  float: left;
  margin-right: 10px;
}



.white-button{
  background-color: fff;
  width: 43%;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;

  &__img{
    position: absolute;
    padding-left:20px;
  }

  &__text{
    margin-left: 50px;
  }
}

.blue-border{
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: -46%;
}

/*OUR COMMUNITY*/

.community-banner{
  background: url("../images/community-banner.jpg");
}

.community-header{

  &__headline{
    padding-top: 80px;
    text-align: center;
    color: #fff;
    font-weight: 500;
  }

  &__subheadline{
    font-size: 17px;
    color: #fff;
    text-align: center;
  }
}

.project{

  padding-left: 30px;

  &__1st{
  background: url(../images/p1-bg.jpg);
  }

  &__2nd{
    background: url(../images/p2-bg.jpg);
  }

  &__3rd{
    background: url(../images/p3-bg.jpg);
  }

  &__4th{
    background: url(../images/p4-bg.jpg);
  }

  &__5th{
    background: url(../images/p5-bg.jpg);
  }

  &__6th{
    background: url(../images/p6-bg.jpg);
  }

  &__7th{
    background: url(../images/p7-bg.jpg);
  }


  &__title{
    font-size: 53px;
    color: #fff;
    font-weight: 500;
  }

  &__title2{
    font-size: 34px;
    color: white;
    font-weight: 500;
  }

  &__title6{
    font-size: 54px;
    color: white;
    font-weight: 500;
  }

  &__date{
    font-size: 24px;
    color: #fff;
    font-weight: 400;
  }

  &__date3{
    font-size: 16px;
    color: white;
    font-weight: 500;
  }

  &__date6{
    font-size: 24px;
    color: white;
    font-weight: 500;
  }

  &__comment{

    &--ic{
      float: left;
      margin-right: 13px;
    }
    p{
      float: left;
      color: #fff;
      font-size: 23px;
    }

    &--avatar{
      float: right;
      padding-right: 20px;
    }
  }
}


/* Video */

.color-overlay{
  background: url("../images/overlay-bg.png")  no-repeat center;
  margin-top: 100px;
  padding-bottom: 5%;
}

.video-section{
  padding-bottom: 10%;

  &__header{
    margin: 0 7%;

    &--headline{
      font-size: 35px;
      font-weight: 400;
      color: #fff;
      float: left;
    }

    &--subheadline{
      font-size: 10px;
      font-weight: 700;
      color: #fff;
      float: right;
    }
  }
}

.orange-button{
  padding: 10px;
  background-color: #faa53f;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

#page-wrap {
  max-width: 500px;
  margin: 1rem auto;
  padding: 1rem;
}

h1, h2 {
  line-height: 1.2;
}

p, ul, h1 {
  margin: 0 0 1rem 0;
}

.video-container{
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.vsl-video{
  max-width: 700px;
}

.videoWrapper{
  position: relative;
  padding-bottom: 52.25%;
  padding-top: 25px;
  height: 0;

  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



/* Our Services */

.service-banner{
  background: url("../images/our-services-banner.jpg");
}

.service-header{

  &__headline{
    padding-top: 80px;
    text-align: center;
    color: #fff;
    font-weight: 500;
  }

  &__subheadline{
    font-size: 17px;
    color: #fff;
    text-align: center;
  }
}

.box-white{
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 45px;
  border-radius: 20px;
  margin: 90px 25px;


  &__title{
    font-size: 21px;
    color: #233b67;
    font-weight: 700;
  }

  &__list{
    font-size: 17px;
    font-weight: 500;
  }
}

.service-shadow{
  box-shadow: 2px 15px 85px #000;
}

.display-onhover{
  display: none;
  height: auto!important;
}

.display-onhover2{
  display: none;
  height: auto!important;
}

.display-onhover3{
  display: none;
  height: auto!important;
}

.video-production:hover .display-onhover{
  display : block;
  height: auto!important;

  }

.branded-content:hover .display-onhover2{
  display : block;
  height: auto!important;
}

.live-events:hover .display-onhover3{
  display : block;
  height: auto!important;
}


/* Who We've Helped */

.wehelp-header{

  &__headline{
    padding-top: 80px;
    text-align: center;
    color: #000000;
    font-weight: 500;
  }

  &__subheadline{
    font-size: 17px;
    color: #000000;
    text-align: center;
  }
}

.image-hover{
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
}

.image-hover:hover{
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
}



