body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  overflow-x: hidden !important;
}

img {
  max-width: 100%; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, center, dl, dt, dd, ol, ul, li, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

a img {
  border: 0;
  position: relative;
  margin-right: 1%;
  margin-bottom: -1%;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body, html {
  width: 100%;
  font-size: 100%;
  font-family: sans-serif; }

h1, h2, h3, h4, h5{
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
}


.header{
  background: url("../images/homepage-banner.jpg") center 0;
  background: cover;
  
  &__logo{

  }

  &__navbar{
    margin-left: 28%;
  }

  @media (max-width:1150px) {
    padding-top: 0.62rem!important;
    padding-bottom: 0.62rem!important;
  }
}


h1{
  font-size: 50px;

  @media (max-width:870px) {
    margin: 0 1.25rem;
  }

  @media (max-width:815px) {
    font-size: 1.8rem;
  }
}

h2{
  font-size: 61px;

  @media (max-width:870px) {
    margin: 0 1.25rem;
  }

  @media (max-width:815px) {
    font-size: 1.6rem;
  }
}

h3{
  font-size: 1.46rem;

  @media (max-width:870px) {
    margin: 0 1.25rem;
  }

  @media (max-width:815px) {
    font-size: 1.2rem;
  }
}

h4{
  font-size: 1.43rem;
  font-weight: 700;

  @media (max-width:870px) {
    margin: 0 1.25rem;
  }

  @media (max-width:815px) {
    font-size: 1.2rem;
  }
}

h5{
  font-size: 1.12rem;
  font-weight: 600;

  @media (max-width:870px) {
    margin: 0 1.25rem;
  }

  @media (max-width:815px) {
    font-size: 0.9rem;
  }
}


p{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  font-size: 1.125rem;

  @media (max-width:650px) {
    font-size: 1rem;
  }

  @media (max-width:930px) {
    margin: 0 1.25rem;
  }
}

.font-400{
  font-weight: 400;
}
.font-500{
  font-weight: 500;
}
.font-700{
  font-weight: 700;
}
.font-900{
  font-weight: 900;
}

.font-40{
  font-size: 40px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-italic {
  font-style: italic;
}

.text-underline{
  text-decoration: underline;
}

.text-white{
   color: #fff;
 }

.text-orange{
  color: #faa53f;
}

.margin-center{
  @media (max-width:1150px) {
    margin: 0 auto;
  }
}

.margin-20{
  margin-left: 20%;
}

.top-180{
  margin-top: 180px;
}
.top-40{
  padding-top: 40px;
}

.top-25{
  padding-top: 25px;
}

.top-15{
  padding-top: 15px;
}

.bottom-250{
  padding-bottom: 236px;
}
.bottom-20{
  padding-bottom: 20px;
}

.bottom-25{
  padding-bottom: 25px;
}

.left-200{
  margin-left: 200px;
}
.left-90{
  margin-left: 90px;
}


.left-25{
   margin-left: 25px;
 }

.left-20{
  margin-left: 20px;
}

.float{
  float: left;

  &--mobile{
    @media (max-width:815px) {
      float: none;
    }
  }
}

.letter-spacing{
  letter-spacing: 2px;
}

body {
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #333;
}

p, li, a {
  font-family: 'Maven Pro', sans-serif;
}

.decoration{
  text-decoration: none;
  text-shadow: 2px 1px 0px #000000;
  }

.decoration-dark{
  text-decoration: none;
  text-shadow: 3px 1px 0px #000000;
}

.decoration-stem{
  text-decoration: none;
  text-shadow: 4px 2px 0 #000;
}

.decoration-none{
  text-decoration: none;
}


.flex-container {
  display: flex;
  justify-content: space-between;

  @media (max-width:1150px) {
    display:block;
    margin: 0 1.87rem;
  }

  &--header{
    display: flex!important;
    margin: 0;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}


.row{
  padding-bottom: 1.875rem;

  &__50{
  width: 50%;
  }

  &__75{
    width: 75%;

    @media (max-width:1150px) {
      width: 90%;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 5px;
    }

    @media (max-width:815px) {
      width: auto;
    }

    &--header{

      @media (max-width:1150px) {
        width: 30%;
      }

    }

    &--mobile{

      @media (max-width:1150px) {
        width: 50%;
        padding-bottom: 42px;
      }

      @media (max-width:1015px) {
        width: 70%;

      }
    }
  }

  &__25{
    width: 25%;

    @media (max-width:1150px) {
      width: 80%;
      margin: 0 auto;
      padding-top: 2.18rem;
      padding-bottom: 2.18rem;
      margin-bottom: 0.62rem;
    }

    &--mobile{
      @media (max-width:1150px) {
        padding-top: 0rem;
        margin-bottom: 3.12rem;
      }
    }

    &--nobg{
      padding: 0px;
      padding: 0 1.87rem;

      @media (max-width:1150px) {
        width: 80%;
        margin: 0 auto;
        padding-top: 2.18rem;
        padding-bottom: 2.18rem;
      }
    }

    &--bluebg{
      background-color: #234769;
      margin: 5px;

      @media (max-width:1150px) {
        width: 45%;
        padding-bottom: 1.56rem;
        margin: 0 auto;
      }

      @media (max-width:600px) {
        width: 65%;
      }
    }

  }
}

.wrapper{
  max-width: 1365px;
  width: auto;
  margin: 0 auto;
}

.text-container{
  max-width: 870px;
  width: auto;
  margin: 0 auto;
}

.checklist{

  &__item{
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    padding-left: 2.26rem;
    margin-bottom: 1.25rem;
    font-weight: 500;
    list-style: none;
  }
}

.stem-logo{
  padding-left: 30px;
  padding-top: 20px;
}

.submit-content{
  float: right;
  width: 39%;
  padding-top: -26px;
  margin-top: -24px;
}

.txt:hover {
  padding-bottom: 5px;
  border-bottom: 4px solid #faa53f;
}

.orange-ic{
  background-color: #faa53f;
  border-radius: 25px;
  padding: 13px;
}

.orange-bg{
  background-color: #faa53f;
  margin-bottom: 100px;
  margin-top: 130px;
}

.video-design{
  padding-right: 27px;
  padding-top: 60px;
}
.social-media{
  float: right;
  margin-top: -15%;
  margin-right: 65px;
}


.hr{
  border-bottom: 1px solid #fff;
  width: 23%;
  margin-left: -15px;
}

.white-button{
  background-color: fff;
  width: 41%;
  padding: 2px;
  border-radius: 15px;

  &__img{
    position: absolute;
    margin: 0 10px;
  }

  &__text{
    margin: 0 45px;
  }
}











