body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  overflow-x: hidden !important; }

img {
  max-width: 100%; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, center, dl, dt, dd, ol, ul, li, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

a img {
  border: 0;
  position: relative;
  margin-right: 1%;
  margin-bottom: -1%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body, html {
  width: 100%;
  font-size: 100%;
  font-family: sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500; }

.font-weight {
  font-weight: 700; }

.font-weight__normal {
  font-weight: 500 !important; }

.font-weight__big {
  font-weight: 800 !important; }

.header {
  background: url("../images/hompage-banner.JPG") center 0;
  box-shadow: 1px 4px 7px rgba(51, 51, 51, 0.8);
  background: cover; }

.header .logo {
  float: left;
  margin-top: 0.45rem; }

@media (max-width: 1150px) {
  .header {
    padding-top: 0.62rem !important;
    padding-bottom: 0.62rem !important; } }

h1 {
  font-size: 50px;
  font-weight: 600; }

@media (max-width: 870px) {
  h1 {
    margin: 0 1.25rem; } }

@media (max-width: 815px) {
  h1 {
    font-size: 1.8rem; } }

h2 {
  font-size: 1.87rem;
  font-weight: 700;
  line-height: 1.25; }

@media (max-width: 870px) {
  h2 {
    margin: 0 1.25rem; } }

@media (max-width: 815px) {
  h2 {
    font-size: 1.6rem; } }

h3 {
  font-size: 1.46rem; }

@media (max-width: 870px) {
  h3 {
    margin: 0 1.25rem; } }

@media (max-width: 815px) {
  h3 {
    font-size: 1.2rem; } }

h4 {
  font-size: 1.43rem;
  font-weight: 700; }

@media (max-width: 870px) {
  h4 {
    margin: 0 1.25rem; } }

@media (max-width: 815px) {
  h4 {
    font-size: 1.2rem; } }

h5 {
  font-size: 1.12rem;
  font-weight: 600; }

@media (max-width: 870px) {
  h5 {
    margin: 0 1.25rem; } }

@media (max-width: 815px) {
  h5 {
    font-size: 0.9rem; } }

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  font-size: 1.125rem; }

@media (max-width: 650px) {
  p {
    font-size: 1rem; } }

@media (max-width: 930px) {
  p {
    margin: 0 1.25rem; } }

strong {
  font-weight: 800; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-italic {
  font-style: italic; }

.text-underline {
  text-decoration: underline; }

.text-white {
  color: #fff; }

@media (max-width: 1150px) {
  .margin-center {
    margin: 0 auto; } }

.top-100 {
  margin-top: 100px; }

.top-50 {
  padding-top: 50px; }

.bottom-120 {
  padding-bottom: 120px; }

.left-25 {
  margin-left: 25px; }

.float {
  float: left; }

@media (max-width: 815px) {
  .float--mobile {
    float: none; } }

body {
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #333; }

p, li, a {
  font-family: 'Open Sans', sans-serif; }

.decoration-none {
  text-decoration: none; }

.flex-container {
  display: flex;
  justify-content: space-between; }

@media (max-width: 1150px) {
  .flex-container {
    display: block;
    margin: 0 1.87rem; } }

.flex-container--header {
  display: flex !important;
  margin: 0;
  margin-left: 1.25rem;
  margin-right: 1.25rem; }

.row {
  padding-bottom: 1.875rem; }

.row__60 {
  width: 60%; }

@media (max-width: 1150px) {
  .row__60 {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5px; } }

@media (max-width: 815px) {
  .row__60 {
    width: auto; } }

@media (max-width: 1150px) {
  .row__60--header {
    width: 30%; } }

@media (max-width: 1150px) {
  .row__60--mobile {
    width: 50%;
    padding-bottom: 42px; } }

@media (max-width: 1015px) {
  .row__60--mobile {
    width: 70%; } }

.row__40 {
  width: 40%; }

@media (max-width: 1150px) {
  .row__40 {
    width: 80%;
    margin: 0 auto;
    padding-top: 2.18rem;
    padding-bottom: 2.18rem;
    margin-bottom: 0.62rem; } }

@media (max-width: 1150px) {
  .row__40--mobile {
    padding-top: 0rem;
    margin-bottom: 3.12rem; } }

.row__40--nobg {
  padding: 0px;
  padding: 0 1.87rem; }

@media (max-width: 1150px) {
  .row__40--nobg {
    width: 80%;
    margin: 0 auto;
    padding-top: 2.18rem;
    padding-bottom: 2.18rem; } }

.row__40--bluebg {
  background-color: #234769;
  margin: 5px; }

@media (max-width: 1150px) {
  .row__40--bluebg {
    width: 45%;
    padding-bottom: 1.56rem;
    margin: 0 auto; } }

@media (max-width: 600px) {
  .row__40--bluebg {
    width: 65%; } }

.wrapper {
  max-width: 1920px;
  width: auto;
  margin: 0 auto; }

.text-container {
  max-width: 870px;
  width: auto;
  margin: 0 auto; }

.checklist__item {
  font-size: 1.12rem;
  text-align: left;
  position: relative;
  padding-left: 2.26rem;
  margin-bottom: 1.25rem;
  font-weight: 500;
  list-style: none; }

.stem-logo {
  width: 40%;
  padding: 30px; }

.txt:hover {
  padding-bottom: 5px;
  border-bottom: 4px solid #faa53f; }

.orange-bg {
  background-color: #faa53f;
  border-radius: 25px;
  padding: 13px; }
