body {
background: #36454f;
text-align: center
}
#main{
	width: 1000px;
	height: 600px;
	background: #808080;
	margin: 25px auto;
	border: solid 2px #000000;
}
h1 {
text-align: center;
font-family: "Times New Roman";
font: 24pt;
color:#000000;
}
hr {
	height: 2px;
	color: #000000;
}
p {
	font-family:"Calibri:;
	font-size: 12px;
	text-align: left;
	text-indent: 40px;
	color: #000000;
}
